$black: #000;
$light-black: #28303d;
$dark-gray: #35373d;
$dark-gray2: #202631;
$dark-gray3: #899bad;
$dark-grey4: #35373d;
$dark-grey5: #2e3238;
$dark-grey6: #2a3648;
$white: #fff;
$pink: #fc3866;
$gray: #636670;
$light-gray: #f2f5fa;
$light-gray2: #78808d;
$light-gray3: #e4e8f0;
$light-gray4: #ddd;
$light-gray5: #ebeff5;
$light-gray6: #b2b8c2;
$light-grey7: #fafbfc;
$green: #00b1a9;
$green-light: #2ecc71;
$extra-light-green: #e1faeb;
$orange: #ffa00a;
$orange2: #fe6d4b;
$blue: #1f77f2;

/*Fonts*/

$primary-font: 'Montserrat',
Open Sans;

/*Font-weight*/

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

/*Font-size*/

$normal: 13px;
$small: 12px;
$extra-small: 10px;
$very-small: 11px;
$semi-medium: 14px;
$medium-size: 16px;
$medium-large: 25px;
$large-size: 30px;